HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/src/main/resources/application-dev.properties
!**/src/main/resources/application-dev.properties
backend/src/main/resources/application-dev.properties
**/application-dev.properties


.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

.vscode/

/dist
/tmp
/out-tsc
/bazel-out

/node_modules
npm-debug.log
yarn-error.log

.c9/
*.launch
.settings/
*.sublime-workspace

.history/*

/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

.DS_Store
Thumbs.db

*.log

.env
.env.local
.env.*.local

*.db
*.sqlite
