<div class="chat-container">
  <div class="banner">
    <div id="channel_section">
      <span class="channel-indicator">{{ isChannelSelected ? '#' : '@' }}</span>
      <span class="channel-name">{{ channelName }}</span>
    </div>
    <div id="options_section">
      @if (idServer != null && idServer > 0) {
        <button (click)="onViewServerUsers.emit()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
          </svg>
          <span>Usuarios</span>
        </button>
      }
    </div>
  </div>

  <div class="bodychat">
    <ul class="message-list">
      @for (m of messages; track $index) {
      <li class="message-wrapper" [class.own-message]="m.creator_id === idUser">
        <div class="message-data">
          <span class="user-id">{{ m.username || 'Usuario ' + m.creator_id }}</span>
          <span class="timestamp">{{ m.createdAt | date:'HH:mm' }}</span>
        </div>
        <div class="message-content">{{ m.content }}</div>
      </li>
      }
    </ul>
  </div>

  <div class="input-area">
    <form (ngSubmit)="submit()">
      <input type="text" [(ngModel)]="newMessage" name="chatMsg"
        [placeholder]="isChannelSelected ? 'Escribe en #' + channelName : 'Enviar mensaje a @' + channelName" required>
      <button type="submit" [disabled]="!newMessage.trim()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708" />
        </svg>
      </button>
    </form>
  </div>
</div>
